# Bot Related Stuff
API_ID=123456789
API_HASH=12ab34cd56ef78gh
BOT_TOKEN=12345678:abcdefghi
STORE_CHANNEL_ID=-123456789
DEV_ID=123456789
# STORE_CHANNEL_ID is the channel where you want the files to be uploaded.
# DEV_ID is your user id.


# MongoDB Related Stuff
MONGO_USERNAME=username
MONGO_PASSWORD=password
MONGO_URI=mongodb://username:password@mongo:27017/?authSource=admin
# MONGO_USERNAME and MONGO_PASSWORD are optional if you are running without docker.
# Change them if you are running on Docker Compose setup. Don't forget to change the
# MONGO_URI after you change username and password.